.colors
{
    background-color: #fc2313;
    background-color: #fc3c3c;
    background-color: #fc0404;
    background-color: #fc726d;
    background-color: #fc8c8c;
    background-color: #fccbca;
    background-color: #fcf0f0;
}